.idea
gcp/.terraform
gcp/.terraform/modules
gcp/terraform.tfstate
gcp/terraform.tfstate.backup
gcp/.terraform.lock.hcl
configGCP.env
gcp/.terraform.tfstate.lock.info
venv
venv/
pipeline/src/config/config.env
credentials.json
__pycache__/
logs/
/includes/dbt/target/