.idea
gcp/.terraform
gcp/.terraform/modules
gcp/terraform.tfstate
gcp/terraform.tfstate.backup
gcp/.terraform.lock.hcl
application_default_credentials.json
configGCP.env
gcp/.terraform.tfstate.lock.info
venv
pipeline/src/config/config.env